<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>You have successfully logged in :) <a href="/logout"><button>Logout</button></a></h1>
        <button><a href="/post">Create New Post</a></button>
        <br><br><br>
        <h4>You can update/delete your own posts</h4>
        <button><a href="/myposts">View My Posts</a></button>
        
    </div>
</body>
</html>