<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Knowledge Portal</title>
<body>
    <div class="container">
    <h1>Welcome to Knowledge Portal </h1>
    <h2>You can <u>read</u> posts under specific topics ,click <a href="/topics"><button>View</button></a></h2>
    <br><br><br>
    <h2>You have to login to <u>create/update/delete</u> posts under specific topics , click <a href="/login"><button>Login with Google</button></a></h2>
    </div>
    
</body>
</html>