<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <p>
        Done!<br>
        </p>
        <br><br>
        <a href="/myposts"><button>View My Posts</button></a>
        <br><br>
        <a href="/topics"><button>Back to Topics</button></a>

    </div>
</body>
</html>